@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: unset;
}

a,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Poppins", sans-serif !important;
}

.basket-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #efefef;
    padding: 2.5%;
}

.page-container {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.basket-img-container {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-img-container img {
    width: auto;
    height: 100%;
}

.counter {
    width: 15%;
}

.basket-description {
    width: 20%;
}

.basket-summary-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
}

.basket-coupon {
    width: 40%;
    display: flex;
    flex-direction: column;
    min-height: 225px;
}

.basket-summary {
    width: 40%;
    display: flex;
    flex-direction: column;
    min-height: 225px;
}

.basket-summary .main-title {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgb(69, 69, 69);
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.basket-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.basket-box p {
    width: 40%;
    font-size: 14px;
    font-weight: 500;
}

input.coupon-input {
    width: 75%;
    border-radius: 6px;
    height: 45px;
    border: 3px solid #EFEFEF;
}

input.coupon-input::placeholder {
    padding: 2.5%;
    font-size: 14px;
    font-weight: 500;
    color: #121212;
}

.coupon-group {
    display: flex;
    justify-content: space-between;
}

button.coupon-btn {
    width: 20%;
    background-color: #007247;
    color: #efefef;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    height: 45px;
}

.coupon-title {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

a.basket-login {
    text-decoration: none;
    color: #121212;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.checkout-btn {
    height: 45px;
    width: 50%;
    background-color: #007247;
    color: #efefef;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    margin-top: 5%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}