@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
.Navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: unset;
}
a,div,p,h1,h2,h3,h4,h5,h6,span{
    font-family: 'Poppins', sans-serif !important;
}